{% extends "privacy/ffos_privacy.html" %}

{% l10n thingstoknow %}
  <p>
    Brinemo za Vašu privatnosti Kada Firefox OS šalje informacije Mozilla-i (to smo mi), <a href="#top" data-panelid="#privacy" id="show_policy">Mozilla Pravila privatnosti</a> opisuju kako postupamo sa tim informacijama.
  </p>
  <div class="highlight intro">
      <h2>Šta treba da znate</h2>
      <p>
        Firefox OS se povezuje sa nama i sa drugima kako bi obezbedio ažuriranja i usluge lociranja.
        <a href="#top"  data-panel-disclosure="true" data-panelid="#external_parties" data-panel-open-text="{{ _('Learn More') }}" data-panel-close-text="{{ _('Show Less') }}">{{ _('Learn More') }}</a>
      </p>
      <ul id="external_parties">
          <li>Ažuriranja: Kako bi stalno bio ažuriran, Firefox OS se automatski povezuje sa servisom koji se uređuje od strane ili u ime proizvođača Vašeg uređaja. Firefox OS takođe automatski proverava ažuriranja instaliranih aplikacija slanjem zahteva Firefox Marketplace-u ili, ako ste instalirali aplikaciju sa druge lokacije, servisu članova razvojnog tima za tu aplikaciju.</li>
          <li>+Lokacija: Kada uključite usluge lociranja, Firefox OS može koristiti više tačaka podataka i subjekata kako bi procenio Vašu lokaciju, uključujući pružaoce GPS, AGPS i drugih geolokacijskih usluga. Usluge lociranja možete isključiti u aplikaciji Firefox OS "Podešavanja" na svom uređaju.</li>
      </ul>

      <hr>

      <p>
        Uređaj koji koristite, kao što je većina mobilnih uređaja, napravilo je više strana. Ovo obaveštenje se odnosi samo na to kako Mozilla rukuje Vašim informacijama za zvanične verzije Firefox OS koje imaju odobrenje Mozilla-e. 
        <a href="#top" data-panel-disclosure="true" data-panelid="#location_services" data-panel-open-text="{{ _('Learn More') }}" data-panel-close-text="{{ _('Show Less') }}">{{ _('Learn More') }}</a>
      </p>
      <ul id="location_services">
          <li>Ako koristite aplikacije koje je napravilo neko drugo lice osim Mozilla-e, primenjivaće se pravila privatnosti tog drugog lica.</li>
          <li>
              Funkcija Firefox OS za dinamičku pretragu aplikacija  je obezbeđena od strane Everything.me, i primenjuju se njihova pravila privatnosti, koja možete naći na adresiEverything.me Pravila privatnosti.  <a href="http://corp.everything.me/ffos-privacy/">http://corp.everything.me/ffos-privacy/</a>
          </li>
          <li>Firefox OS Vam dozvoljava da koristite više integrisanih usluga trećih strana, kao što je Vaš dobavljač usluga e-pošte ili pristupa socijalnim mrežama. Pravila privatnosti tih servisa će se primenjivati na Vaše korišćenje istih.</li>
      </ul>
  </div>
{% endl10n %}


{% l10n privacypolicy %}
  <h2>
      <a href="#top" data-panelid="#home" class="home">
          <span aria-hidden="true" data-icon="\2302"></span>
          <span class="visually_hidden">{{ _('Home') }}</span>
      </a>Mozilla Pravila privatnosti</h2>
  <p>Vaša privatnost je bitan faktor koji Mozilla (to smo mi) ima u vidu u razvoju svakog od naših proizvoda i usluga. Trudimo se da budemo transparentni i otvoreni, i želimo da znate kako dobijamo podatke o Vama, i šta radimo sa tim podacima kada ih dobijemo.</p>
  <h3>Šta podrazumevamo pod "ličnim podacima"?</h3>
  <p>Za nas, "lični podaci" označavaju podatke koji Vas identifikuju, kao što je Vaše ime ili e-mail adresa.</p>
  <p>Svi podaci koji izlaze izvan ovog okvira predstavljaju "nelične podatke".</p>
  <p>Ako vaše lične podatke čuvamo zajedno sa neličnim podacima, smatraćemo tu kombinaciju ličnim podacima. Ako uklonimo sve lične podatke iz seta podataka, podaci koji preostanu su nelični.</p>
  <h3>Kako saznajemo podatke o Vama?</h3>
  <p>Podatke o Vama saznajemo na sledeće načine:</p>
  <ul>
      <li>kada nam ih date direktno (npr. kada odaberete da nam pošaljete izveštaj o grešci iz Firefox-a);</li>
      <li>prikupljamo ih automatski preko naših proizvoda i usluga (npr. kada proveravamo da li imate ažuriranu verziju Firefox-a); </li>
      <li>kada dobijemo podatke o Vama od drugih (npr. Thunderbird radi sa Vašim e-mail provajderima u konfigurisanju Vašeg naloga); ili</li>
      <li>kada pokušavamo da saznamo više o Vama na osnovu podataka koje ste nam dali (npr. kada koristimo Vašu IP adresu radi prilagođavanja jezika za neke od naših usluga).</li>
  </ul>
  <h3>Šta radimo sa Vašim podacima kada ih dobijemo?</h3>
  <p>Kada nam date svoje lične podatke, mi ćemo ih koristiti na način za koji ste nam dali odobrenje. Uopšteno, koristimo Vaše podatke kako bi nam pomogle u pružanju i poboljšanju svojih proizvoda i usluga Vama.</p>
  <h3>Kada delimo Vaše podatke sa drugima?</h3>
  <ul>
      <li>Kada imamo Vaše odobrenje da ih delimo.</li>
      <li>Za obradu ili obezbeđivanje proizvoda i pružanje usluga Vama, ali samo ako su subjekti koji dobijaju Vaše podatke ugovorom obavezani da rukuju podacima na načine koje Mozilla odobrava.</li>
      <li>Kada ispunjavano svoju misiju da budemo otvoreni, kako je detaljnije opisano u <a href="{{ url('mozorg.about.manifesto') }}">Mozilla Manifestu</a>).  Ponekad otkrivamo podatke u cilju poboljšanja naših proizvoda i podsticanja otvorenog interneta, ali kada to činimo, uklonićemo Vaše lične podatke i potruditi se da ih otkrijemo na način kojim se rizik vaše ponovne identifikacije svodi na minimum.</li>
      <li>Kada to nalaže zakon. Postupamo u skladu sa zakonom kada god primimo zahtev o Vama od Vlade ili u vezi sa nekom tužbom. Obavestićemo Vas kada dobijemo zahtev da prenesemo Vaše lične podatke na ovaj način, osim ako nam to zakon zabranjuje. Kada primimo ovakve zahteve, otkrićemo Vaše lične podatke samo ako smo uvereni u dobroj veri da nam zakon nalaže da to učinimo. Ništa u ovim pravilima nema za cilj da ograniči bilo koju zakonsku odbranu ili prigovore koje možete imati na zahtev treće strane o otkrivanju Vaših podataka.</li>
      <li>Kada smatramo da je to potrebno kako bismo sprečili nanošenje štete Vama ili drugom licu. Delićemo Vaše podatke na ovaj način samo ako smo uvereni u dobroj veri da je to razumno potrebno za zaštitu Vaših prava, imovine ili bezbednosti, ili prava, imovine ili bezbednosti drugih korisnika, Mozilla-e ili javnosti.</li>
      <li>Ako se naša organizaciona struktura ili status izmene (ako izvršimo restrukturiranje, ako nas kupi drugo lice, ili ako padnemo pod stečaj), možemo preneti Vaše podatke našem nasledniku ili sledbeniku.</li>
  </ul>
  <h3>Kako čuvamo i štitimo Vaše lične podatke?</h3>
  <p>Posvećeni smo zaštiti Vaših ličnih podataka od momenta kada ih dobijemo. Primenjujemo fizičke, poslovne i tehničke mere bezbednosti. Uprkos našim naporima, ako saznamo za povredu bezbednosti, obavestićemo Vas o tome tako da možete da preduzmete odgovarajuće korake u cilju zaštite.</p>
  <p>Takođe, ne želimo da zadržavamo Vaše lične podatke duže nego što su nam potrebni, tako da ćemo ih čuvati samo koliko je potrebno da bismo izvršili ono za šta smo ih prikupili. Kada nam više nisu potrebni, preduzimamo korake u cilju njihovog uništenja, osim ako nam zakon nalaže da ih čuvamo duže.</p>
  <h3>Šta još želimo da znate?</h3>
  <p>Mi smo globalna organizacija, i naši kompjuteri se nalaze na nekoliko različitih mesta širom sveta. Isto tako, koristimo pružaoce usluga čiji kompjuteri takođe mogu biti u raznim zemljama. To znači da Vaše informacije mogu završiti na nekom od tih kompjutera u nekoj drugoj zemlji, a ta zemlja može imati različit stepen uređenja zaštite podataka u odnosu na Vašu zemlju. Davanjem podataka nama, saglašavate se sa ovom vrstom prenosa Vaših podataka. Bez obzira na to u kojoj zemlji se nalaze Vaši podaci, mi ćemo postupati u skladu sa primenjivim pravom i poštovati sve na šta smo se obavezali u ovim pravilima privatnosti.</p>
  <p>Ako imate manje od 13 godina, ne želimo da dobijemo Vaše lične podatke, i ne smete nam ih dati. Ako ste roditelj, i smatrate da nam je Vaše dete koje je mlađe od 13 godina dalo lične podatke, molimo Vas da nas kontaktirate kako bismo uklonili podatke Vašeg deteta.  Možete nas kontaktirati <a href="#top" data-panelid="#contact">online</a> ili možete doći do nas na adresi</p>
  <p>
    Mozilla Corporation<br>
    N / R: Legal Notices - Privacy<br> 
    650 Castro Street, Suite 300<br>
    Mountain View, CA 94041-2072<br>
    Tel: +1-650-903-0800
  </p>
  <h3>Šta se dešava ako izmenimo ova pravila?</h3>
  <p>Možda će biti potrebno da promenimo ova pravila, i ako to učinimo, obavestićemo Vas o tome.</p>

{% endl10n%}
