
{% extends "firefox/nightly_firstrun.html" %}

{% l10n promo_community %}
  <div class="billboard">
    <h3>Вы нужны сообществу Mozilla Россия&nbsp;!</h3>
    <p>Помощь пользователям, участие в разработке, переводы, развитие открытых и свободных программ от Mozilla. Не пропустите получить возможность принять участие в проекте Mozilla на вашем языке&nbsp;! </p>
    <p>Узнайте больше о Mozilla Россия, русскоязычном сообществе Mozilla&nbsp;:</p>
    <ul class="unstyled">
        <li><a href="https://mozilla-russia.org/">Сайт Mozilla Россия</a></li>
        <li><a href="https://forum.mozilla-russia.org/">Форум Mozilla Россия</a></li>
        <li><a href="https://vk.com/club9845974">Mozilla Россия в Контакте</a></li>
        <li><a href="https://www.facebook.com/MozillaRussia">Mozilla Россия в Фейсбуке</a></li>
        <li><a href="https://twitter.com/mozilla_russia/">@mozilla_russia в Твиттере</a></li>
        <li><a href="irc://irc.mozilla.org/mozilla-ru">Встречайтесь на IRC (#mozilla-ru на irc.mozilla.org)</a></li>
    </ul>
  </div>
{% endl10n %}
