{# Version: 20120713 #}

{% extends "firefox/whatsnew.html" %}

{% l10n whatsnew_feature %}
<p id="ru-search">
    Also new in this release: Google is now your default search engine. To change the active search engine, click the down arrow next to the search engine's icon, and select a new search engine.
    <a href="http://support.mozilla.org/ru/kb/stroka-poiska?e=es&redirectlocale=en-US&as=s&s=manage+search&r=3&redirectslug=Search+bar#w_managing-search-engines">Learn more.</a>
  </p>
{% endl10n %}

