{# Version: 20130930 #}

{% extends "mozorg/home-b1.html" %}

{% l10n home_news %}
  <li class="hentry">
    <h3 class="entry-title">
      <a class="url go" rel="bookmark external" hreflang="es-ES" href="https://blog.mozilla.org/press-es/2013/08/07/firefox-para-android-hace-la-navegacion-movil-mas-rapida-y-sencilla/">
        Firefox para Android hace la navegación móvil más rápida y sencilla
      </a>
    </h3>
  </li>

  <li class="hentry">
    <h3 class="entry-title">
      <a class="url go" rel="bookmark external" hreflang="es-ES" href="https://blog.mozilla.org/press-es/2013/08/06/firefox-facilita-que-compartas-contenido-con-familiares-y-amigos/">
        Firefox facilita que compartas contenido con familiares y amigos
      </a>
    </h3>
  </li>

  <li class="hentry">
    <h3 class="entry-title">
      <a class="url go" rel="bookmark external" hreflang="es-ES" href="https://blog.mozilla.org/press-es/2013/07/01/mozilla-y-sus-socios-se-preparan-para-lanzar-los-primeros-smartphones-firefox-os/">
        Mozilla y sus socios se preparan para lanzar los primeros smartphones Firefox OS
      </a>
    </h3>
  </li>
{% endl10n %}
