{# Version: 20140223 #}

{% extends "mozorg/home.html" %}

{% l10n home_news %}
<li class="hentry">
  <h3 class="entry-title">
    <a class="url go" rel="bookmark external" hreflang="es-ES" href="http://blog.mozilla.org/press-latam/2014/02/23/firefox-os-te-desvela-el-futuro-de-lo-movil/">
       Firefox OS te desvela el futuro de lo móvil
    </a>
  </h3>
</li>

<li class="hentry">
  <h3 class="entry-title">
    <a class="url go" rel="bookmark external" hreflang="es-ES" href="https://blog.mozilla.org/press-latam/2014/02/23/firefox-os-se-expande-hacia-dispositivos-de-gama-alta-y-supera-las-limitaciones-de-los-smartphones-de-nivel-basico/">
       Firefox OS se expande hacia dispositivos de gama alta y supera las limitaciones de los smartphones de nivel básico
    </a>
  </h3>
</li>

<li class="hentry">
  <h3 class="entry-title">
    <a class="url go" rel="bookmark external" hreflang="es-ES" href="https://blog.mozilla.org/press-latam/2014/02/23/un-nuevo-hardware-para-desarrolladores-y-nuevas-herramientas-demuestran-la-fuerza-del-ecosistema-de-firefox-os/">
       Un nuevo hardware para desarrolladores y nuevas herramientas demuestran la fuerza del ecosistema de Firefox OS
    </a>
  </h3>
</li>

<li class="hentry">
  <h3 class="entry-title">
    <a class="url go" rel="bookmark external" hreflang="es-ES" href="https://blog.mozilla.org/press-es/2013/11/21/estado-de-mozilla-y-resumen-financiero-2012/">
      Estado de Mozilla y Resumen Financiero 2012
    </a>
  </h3>
</li>
{% endl10n %}

