{# Version: 20130930 #}

{% extends "mozorg/home-b1.html" %}

{% l10n home_news %}
  <li class="hentry">
    <h3 class="entry-title">
      <a class="url go" rel="bookmark external" hreflang="it" href="https://blog.mozilla.org/press-it/2013/08/07/firefox-per-android-rende-la-navigazione-mobile-piu-veloce-e-piu-facile/">
        Firefox per Android rende la navigazione mobile più veloce e più facile
      </a>
    </h3>
  </li>

  <li class="hentry">
    <h3 class="entry-title">
      <a class="url go" rel="bookmark external" hreflang="it" href="https://blog.mozilla.org/press-it/2013/08/07/firefox-23-facilita-la-condivisione-dei-contenuti-preferiti-con-amici-e-familiari/">
        Firefox 23 facilita la condivisione dei contenuti preferiti con amici e familiari
      </a>
    </h3>
  </li>

  <li class="hentry">
    <h3 class="entry-title">
      <a class="url go" rel="bookmark external" hreflang="it" href="https://blog.mozilla.org/press-it/2013/07/01/mozilla-e-i-suoi-partner-si-preparano-al-lancio-dei-primi-smartphone-con-firefox-os/">
        Mozilla e i suoi partner si preparano al lancio dei primi smartphone con Firefox OS
      </a>
    </h3>
  </li>
{% endl10n %}
