{# Version: 20140223 #}

{% extends "mozorg/home.html" %}

{% l10n home_news %}
<li class="hentry">
  <h3 class="entry-title">
    <a class="url go" rel="bookmark external" hreflang="it" href="https://blog.mozilla.org/press-it/2014/02/23/firefox-os-svela-il-futuro-del-mobile">
       Firefox OS svela il futuro del mobile
    </a>
  </h3>
</li>

<li class="hentry">
  <h3 class="entry-title">
    <a class="url go" rel="bookmark external" hreflang="it" href="https://blog.mozilla.org/press-it/2014/02/23/nuovi-hardware-e-strumenti-per-sviluppatori-sottolineano-limpulso-registrato-dallecosistema-firefox-os/">
       Nuovi hardware e strumenti per sviluppatori sottolineano l’impulso registrato dall’ecosistema Firefox OS
    </a>
  </h3>
</li>

<li class="hentry">
  <h3 class="entry-title">
    <a class="url go" rel="bookmark external" hreflang="it" href="https://blog.mozilla.org/press-it/2014/02/23/firefox-os-arriva-sui-dispositivi-ad-alte-prestazioni-e-innalza-i-limiti-degli-smartphone-entry-level/">
       FIREFOX OS ARRIVA SUI DISPOSITIVI AD ALTE PRESTAZIONI E INNALZA I LIMITI DEGLI SMARTPHONE ENTRY-LEVEL
    </a>
  </h3>
</li>

<li class="hentry">
    <h3 class="entry-title">
      <a class="url go" rel="bookmark external" hreflang="it" href="https://blog.mozilla.org/press-it/2013/11/21/stato-di-mozilla-e-bilancio-2012/">
        Stato di Mozilla e Bilancio 2012
      </a>
    </h3>
  </li>
{% endl10n %}

