{% extends "privacy/ffos_privacy.html" %}

{% l10n thingstoknow %}
  <p>Per Mozilla, la privacy degli utenti è importante. La <a href="#top" data-panelid="#privacy" id="show_policy" >Informativa sulla privacy di Mozilla</a> descrive in che modo Mozilla tratta le informazioni che le vengono inviate da Firefox OS.</p>

  <div class="highlight intro">

    <h2>Cose da sapere</h2>

    <p>
      Firefox OS si connette a Mozilla e ad altri soggetti per scaricare aggiornamenti e fornire servizi di localizzazione.
      <a href="#top"data-panel-disclosure="true" data-panelid="#external_parties" data-panel-open-text="{{ _('Learn More') }}" data-panel-close-text="{{ _('Show Less') }}">{{ _('Learn More') }}</a>
    </p>

    <ul id="external_parties">
      <li>Aggiornamenti: per scaricare aggiornamenti, Firefox OS si connette automaticamente a un servizio operato da o per conto del produttore del dispositivo dell’utente. Firefox OS cerca inoltre automaticamente gli aggiornamenti relativi alle app installate inviando una richiesta a Firefox Marketplace o, se l’utente ha installato l’app utilizzando un altro servizio, quelli relativi ai servizi dello sviluppatore di tale app.</li>
      <li>Posizione: attivando i servizi di localizzazione, Firefox OS può utilizzare molteplici punti e soggetti che forniscono dati per individuare la posizione dell’utente, inclusi i provider di servizi di geolocalizzazione GPS, AGPS e altri. L’utente può disabilitare i servizi di localizzazione sul proprio dispositivo andando nelle “Impostazioni” di Firefox OS.</li>
    </ul>

    <hr>

    <p>
      Il dispositivo utilizzato dall’utente, come la maggior parte dei dispositivi mobili, è creato da più soggetti. Il presente avviso descrive unicamente le modalità di trattamento delle informazioni seguite da Mozilla per le versioni ufficiali di Firefox OS autorizzate da Mozilla.
      <a href="#top" data-panel-disclosure="true" data-panelid="#location_services" data-panel-open-text="{{ _('Learn More') }}" data-panel-close-text="{{ _('Show Less') }}">{{ _('Learn More') }}</a>
    </p>

    <ul id="location_services">
      <li>Se l’utente utilizza app prodotte da soggetti diversi da Mozilla, si applicheranno le politiche sulla privacy ad esse relative.</li>
      <li>La funzione di ricerca adattiva delle app di Firefox OS utilizza Everything.me e applica la politica sulla privacy di tale servizio, che può essere consultata alla pagina <a href="http://corp.everything.me/ffos-privacy/">http://corp.everything.me/ffos-privacy/</a>.</li>
      <li>Firefox OS consente all’utente di utilizzare diversi servizi integrati di terzi, quali l’email o il social provider dell’utente. In questo caso, la politica sulla privacy che si applica è quella di questi servizi.</li>
    </ul>

  </div>
{% endl10n %}


{% l10n privacypolicy %}
  <h2>
    <a href="#top" data-panelid="#home" class="home">
      <span aria-hidden="true" data-icon="\2302"></span>
      <span class="visually_hidden">{{ _('Home') }}</span>
    </a>
    Informativa sulla privacy di Mozilla
  </h2>
  <p>La privacy è un aspetto importante di cui Mozilla Corporation, con sede a 650 Castro St #300, Mountain View, CA 94041 (“Mozilla”), tiene conto nello sviluppo di ciascuno dei propri prodotti e servizi. Mozilla si impegna a essere trasparente e aperta a tal riguardo e desidera che gli utenti sappiano in che modo Mozilla riceve le informazioni che li riguardano e come vengono utilizzate una volta acquisite.</p>
  <h3>O que queremos dizer com "informações pessoais"?</h3>
  <p>Para nós, "informações pessoais" significa as informações que identificam o usuário, como seu nome ou endereço de e-mail.</p>
  <p>Cosa si intende per "dati personali?"</p>
  <p>Con l’espressione "dati personali", Mozilla intende i dati che identificano l’utente, come il nome o l’indirizzo email.</p>
  <p>Tutte le informazioni che non rientrano in questa definizione sono considerate "dati non personali".</p>
  <p>Nel caso in cui i dati personali dell’utente vengano conservati assieme a dati non personali, tali informazioni sono considerate collettivamente dati personali. Laddove Mozilla rimuova da un insieme di dati tutti i dati personali, le informazioni rimanenti costituiscono dati non personali.</p>
  <h3>In che modo Mozilla acquisisce dati sull’utente?</h3>
  <p>Mozilla acquisisce dati sull’utente:</p>
  <ul>
    <li>quando essi le vengono forniti direttamente dall’utente (ad esempio quando l’utente sceglie di inviare a Mozilla i crash report di Firefox);</li>
    <li>automaticamente, tramite i prodotti e servizi di Mozilla (ad esempio quando Mozilla verifica se la versione di Firefox dell’utente è aggiornata);</li>
    <li>quando altri utenti comunicano a Mozilla informazioni sull’utente (ad esempio Thunderbird collabora con i provider di posta elettronica degli utenti per impostare un account); o</li>
    <li>quando Mozilla cerca di approfondire alcuni aspetti dell'utente sulla base dei dati che esso ha comunicato a Mozilla (ad esempio quando Mozilla utilizza l'indirizzo IP dell’utente per personalizzare la lingua per alcuni dei servizi).</li>
  </ul>
  <h3>Una volta che Mozilla entra in possesso di dati sull’utente, come vengono utilizzati?</h3>
  <p>Quando l’utente fornisce a Mozilla dati personali, essi vengono utilizzati nei modi per i quali l’utente ha espresso il proprio consenso. In generale, Mozilla utilizza i dati dell’utente per fornire e migliorare i propri prodotti e servizi.</p>
  <h3>In quali casi Mozilla condivide con altri le informazioni dell’utente?</h3>
  <ul>
    <li>Quando l’utente ha espresso il proprio consenso alla loro condivisione.</li>
    <li>Per elaborare o fornire prodotti e servizi per l’utente, ma soltanto nel caso in cui i soggetti che ricevono i dati dell'utente siano contrattualmente obbligati a trattarli secondo le modalità approvate da Mozilla.</li>
    <li>Nel perseguire la propria <a href="{{ url('mozorg.about.manifesto') }}">missione di trasparenza</a>. Per migliorare i servizi e promuovere una rete aperta, Mozilla può talvolta rendere pubbliche alcune informazioni ma, prima di farlo, elimina i dati personali dell’utente e cerca di divulgarle in modo da minimizzare il rischio che l’utente possa essere nuovamente identificato.</li>
    <li>Nei casi previsti dalla legge. Ogni volta vengano richieste informazioni sugli utenti da parte di organi governativi o in  relazione a una causa legale, Mozilla si attiene alla legge. Nel caso in cui vengano richiesti a Mozilla dati personali sull’utente, l’utente ne verrà informato salvo laddove la legge non autorizzi Mozilla a farlo. Nel caso in cui Mozilla riceva richieste di questo tipo, divulgherà unicamente i dati personali che, in buona fede, abbia ragione di credere che debbano essere forniti per legge. Nulla di quanto contenuto nella presente informativa intende limitare la difesa in giudizio o le obiezioni dell’utente relativamente alla richiesta avanzata da terzi di ottenere dati sull’utente.</li>
    <li>Quando Mozilla ritiene che sia necessario per evitare di causare pregiudizio all'utente o ad altri. In questo caso, Mozilla condividerà i dati sull'utente soltanto laddove abbia in buona fede ragione di credere che ciò sia ragionevolmente necessario per tutelare i diritti, i beni o la sicurezza dell'utente, di altri utenti, di Mozilla o del pubblico in generale.</li>
    <li>Nel caso in cui la struttura organizzativa o lo status di Mozilla subisca modifiche (in caso di ristrutturazione, acquisizione o fallimento), Mozilla potrà trasferire le informazioni sull'utente a un successore o a una collegata.</li>
  </ul>
  <h3>Come vengono conservati e protetti i dati personali dell’utente?</h3>
  <p>Una volta che ne entra in possesso, Mozilla si impegna a proteggere i dati personali dell'utente e adotta a tal fine misure di sicurezza fisiche, commerciali e tecniche. Nonostante l'impegno profuso, laddove Mozilla venga a conoscenza di una violazione della sicurezza ne darà comunicazione all'utente così che questi possa prendere le necessarie misure di tutela.</p>
  <p>Mozilla non vuole conservare i dati personali dell’utente più a lungo del necessario e li mantiene quindi soltanto per il tempo necessario al loro utilizzo per la finalità per la quale sono stati acquisiti. Non appena i dati non sono più indispensabili, Mozilla adotta misure per distruggerli, salvo laddove la legge preveda un periodo di conservazione più lungo. </p>
  <h3>Di cos’altro deve essere informato l’utente?</h3>
  <p>Mozilla è un’organizzazione globale e i computer che utilizza si trovano in più parti del mondo. Inoltre, si avvale di provider di servizi i cui computer possono essere situati in diversi paesi. Ciò significa che i dati dell’utente potrebbero finire in uno di questi computer situato in un altro paese e che tale paese potrebbe avere una normativa in materia di protezione dei dati personali diversa da quella di Mozilla. Fornendo i propri dati, l’utente acconsente a questo tipo di trasferimento. Indipendentemente dal paese in cui si trovano i dati, Mozilla rispetta la normativa applicabile nonché gli impegni assunti nella presente informativa sulla privacy.</p>
  <p>Mozilla non vuole ricevere dati da utenti di età inferiore a 13 anni e tali utenti non devono fornirglieli. Se un genitore ritiene che il proprio figlio di età inferiore ai 13 anni abbia fornito a Mozilla dati personali, può <a href="#top" data-panelid="#contact">contattare Mozilla</a> per cancellare i dati che lo riguardano.</p>
  <h3>Cosa succede se Mozilla modifica la presente informativa?</h3>
  <p>Nel caso in cui Mozilla debba modificare la presente informativa, l’utente ne verrà informato.</p>

{% endl10n%}
