{# Version: 20131010 #}

{% extends "mozorg/home-b2.html" %}

{% l10n home_news %}
  <li class="hentry">
    <h3 class="entry-title">
      <a class="url go" rel="bookmark external" hreflang="es-ES" href="https://blog.mozilla.org/press-es/2013/10/09/mozilla-y-sus-socios-inauguran-la-segunda-oleada-de-lanzamientos-de-firefox-os-en-mas-mercados-a-nivel-mundial/">
        Mozilla y sus socios inauguran la segunda oleada de lanzamientos de Firefox OS en más mercados a nivel mundial
      </a>
    </h3>
  </li>

  <li class="hentry">
    <h3 class="entry-title">
      <a class="url go" rel="bookmark external" hreflang="es-ES" href="https://blog.mozilla.org/press-es/2013/08/07/firefox-para-android-hace-la-navegacion-movil-mas-rapida-y-sencilla/">
        Firefox para Android hace la navegación móvil más rápida y sencilla
      </a>
    </h3>
  </li>

  <li class="hentry">
    <h3 class="entry-title">
      <a class="url go" rel="bookmark external" hreflang="es-ES" href="https://blog.mozilla.org/press-es/2013/08/06/firefox-facilita-que-compartas-contenido-con-familiares-y-amigos/">
        Firefox facilita que compartas contenido con familiares y amigos
      </a>
    </h3>
  </li>
{% endl10n %}
