
{% extends "firefox/nightly_firstrun.html" %}

{% l10n promo_locale %}
<h3>La communauté Mozilla francophone a besoin de vous&nbsp;!</h3>
<p>La communauté francophone organise un «&nbsp;<a href="https://mozfr.org/locasprint/">Locasprint</a>&nbsp;» du 12 au 14 février 2016 au bureau parisien de Mozilla.<br/>
  <a href="https://framadate.org/ToRLMJkeYOwMWgKG">Inscrivez-vous sur ce Framadate</a> et venez nous aider à produire des traductions de qualité pour les sites web et logiciels Mozilla.
</p>
{% endl10n %}
