{# Version: 20130930 #}

{% extends "mozorg/home-b1.html" %}

{% l10n home_news %}
  <li class="hentry">
    <h3 class="entry-title">
      <a class="url go" rel="bookmark external" hreflang="de" href="https://blog.mozilla.org/press-de/2013/08/07/neue-firefox-version-browser-integriert-weitere-soziale-funktionen/">
        Neue Firefox-Version: Browser integriert weitere soziale Funktionen
      </a>
    </h3>
  </li>

  <li class="hentry">
    <h3 class="entry-title">
      <a class="url go" rel="bookmark external" hreflang="de" href="https://blog.mozilla.org/press-de/2013/07/11/deutsche-telekom-kundigt-markteinfuhrung-von-firefox-os-geraten-in-europa-an/">
        Deutsche Telekom kündigt Markteinführung von Firefox OS Geräten in Europa an
      </a>
    </h3>
  </li>

  <li class="hentry">
    <h3 class="entry-title">
      <a class="url go" rel="bookmark external" hreflang="de" href="https://blog.mozilla.org/press-de/2013/07/01/mozilla-und-partner-machen-sich-bereit-fur-den-ersten-firefox-os-launch/">
        Mozilla und Partner machen sich bereit für den ersten Firefox OS Launch
      </a>
    </h3>
  </li>
{% endl10n %}
