{# Version: 20140320 #}

{% extends "mozorg/home.html" %}

{% l10n home_news %}
<li class="hentry">
  <h3 class="entry-title">
    <a class="url go" rel="bookmark external" hreflang="de" href="https://blog.mozilla.org/press-de/2014/03/18/das-web-als-gaming-plattform-zur-gdc-2014-zeigen-mozilla-und-partner-die-zukunft-der-spieleentwicklung/">
      Das Web als Gaming-Plattform: Zur GDC 2014 zeigen Mozilla und Partner die Zukunft der Spieleentwicklung
    </a>
  </h3>
</li>

<li class="hentry">
  <h3 class="entry-title">
    <a class="url go" rel="bookmark external" hreflang="de" href="https://blog.mozilla.org/press-de/2014/02/23/neue-entwickler-hardware-und-tools-bringen-firefox-os-weiter-voran/">
       Neue Entwickler-Hardware und -Tools bringen Firefox OS weiter voran
    </a>
  </h3>
</li>

<li class="hentry">
  <h3 class="entry-title">
    <a class="url go" rel="bookmark external" hreflang="de" href="https://blog.mozilla.org/press-de/2014/02/23/mit-high-end-geraten-und-einem-neuen-einstiegsniveau-bei-smartphones-erobert-firefox-os-weitere-marktsegmente/">
       Mit High-End-Geräten und einem neuen Einstiegsniveau bei Smartphones erobert Firefox OS weitere Marktsegmente
    </a>
  </h3>
</li>

<li class="hentry">
  <h3 class="entry-title">
    <a class="url go" rel="bookmark external" hreflang="de" href="https://blog.mozilla.org/press-de/2014/02/23/firefox-os-ist-richtungsweisend-fur-die-zukunft-des-mobilen-marktes">
       Firefox OS ist richtungsweisend für die Zukunft des mobilen Marktes
    </a>
  </h3>
</li>

{% endl10n %}

