{# Version: 20130930 #}

{% extends "mozorg/home-b2.html" %}

{% l10n home_news %}
  <li class="hentry">
    <h3 class="entry-title">
      <a class="url go" rel="bookmark external" hreflang="en-GB" href="https://blog.mozilla.org/press-uk/2013/08/07/firefox-for-android-makes-mobile-browsing-faster-and-easier/">
        Firefox for Android Makes Mobile Browsing Faster and Easier
      </a>
    </h3>
  </li>

  <li class="hentry">
    <h3 class="entry-title">
      <a class="url go" rel="bookmark external" hreflang="en-GB" href="https://blog.mozilla.org/press-uk/2013/08/06/firefox-makes-it-easy-to-share-favourite-content-with-friends-and-family/">
        Firefox Makes it Easy to Share Favourite Content with Friends and Family
      </a>
    </h3>
  </li>

  <li class="hentry">
    <h3 class="entry-title">
      <a class="url go" rel="bookmark external" hreflang="en-GB" href="https://blog.mozilla.org/press-uk/2013/07/01/mozilla-and-partners-prepare-to-launch-first-firefox-os-smartphones/">
        Mozilla and Partners Prepare to Launch First Firefox OS Smartphones
      </a>
    </h3>
  </li>
{% endl10n %}
