{# Version: 20140320 #}

{% extends "mozorg/home.html" %}

{% l10n home_news %}
<li class="hentry">
  <h3 class="entry-title">
    <a class="url go" rel="bookmark external" hreflang="fr" href="https://blog.mozilla.org/press-fr/2014/03/19/gdc2014-mozilla-et-ses-partenaires-demontrent-la-puissance-du-web-comme-plate-forme-de-gaming/">
       #GDC2014 : Mozilla et ses partenaires démontrent la puissance du Web comme plate-forme de gaming
    </a>
  </h3>
</li>

<li class="hentry">
  <h3 class="entry-title">
    <a class="url go" rel="bookmark external" hreflang="fr" href="https://blog.mozilla.org/press-fr/2014/02/23/firefox-os-chamboule-le-futur-du-mobile">
       Firefox OS chamboule le futur du mobile
    </a>
  </h3>
</li>

<li class="hentry">
  <h3 class="entry-title">
    <a class="url go" rel="bookmark external" hreflang="fr" href="https://blog.mozilla.org/press-fr/2014/02/23/de-nouveaux-outils-et-logiciels-pour-les-developpeurs-demontrent-lessor-de-lecosysteme-firefox-os/">
       De nouveaux outils et logiciels pour les développeurs démontrent l’essor de l’écosystème Firefox OS
    </a>
  </h3>
</li>

<li class="hentry">
  <h3 class="entry-title">
    <a class="url go" rel="bookmark external" hreflang="fr" href="https://blog.mozilla.org/press-fr/2014/02/23/firefox-os-setend-aux-appareils-aux-performances-avancees-et-repousse-les-limites-des-smartphones-dentree-de-gamme/">
       Firefox OS s’étend aux appareils aux performances avancées et repousse les limites des smartphones d’entrée de gamme
    </a>
  </h3>
</li>
{% endl10n %}

