{# Version: 20130930 #}

{% extends "mozorg/home-b1.html" %}

{% l10n home_news %}
  <li class="hentry">
    <h3 class="entry-title">
      <a class="url go" rel="bookmark external" hreflang="fr" href="https://blog.mozilla.org/press-fr/2013/08/07/firefox-23-une-navigation-optimale-pour-rester-proche-de-ses-contacts/">
        Firefox 23 : une navigation optimale pour rester proche de ses contacts
      </a>
    </h3>
  </li>

  <li class="hentry">
    <h3 class="entry-title">
      <a class="url go" rel="bookmark external" hreflang="fr" href="https://blog.mozilla.org/press-fr/2013/07/11/deutsche-telekom-annonce-le-lancement-europeen-des-appareils-sous-firefox-os/">
        Deutsche Telekom annonce le lancement européen des appareils sous Firefox OS
      </a>
    </h3>
  </li>

  <li class="hentry">
    <h3 class="entry-title">
      <a class="url go" rel="bookmark external" hreflang="fr" href="https://blog.mozilla.org/press-fr/2013/07/01/mozilla-et-ses-partenaires-preparent-le-lancement-des-premiers-smartphones-sous-firefox-os/">
        Mozilla et ses partenaires préparent le lancement des premiers smartphones sous Firefox OS
      </a>
    </h3>
  </li>
{% endl10n %}
