{% extends "privacy/ffos_privacy.html" %}

{% l10n thingstoknow %}
  <p>Prezamos a sua privacidade. Quando o Sistema Operativo do Firefox envia informação ao Mozilla (ou seja, nós), a <a href="#top" data-panelid="#privacy" id="show_policy" >Politica de Privacidade do Mozilla</a> descreve a maneira como nós tratamos essas informações.</p>

  <div class="highlight intro">

    <h2>O que você deve saber</h2>

    <p>
      O Sistema Operativo do Firefox conecta-se a nós e a outros, por forma a fornecer atualizações e serviços de localização.
      <a href="#top" data-panel-disclosure="true" data-panelid="#external_parties" data-panel-open-text="{{ _('Learn More') }}" data-panel-close-text="{{ _('Show Less') }}">{{ _('Learn More') }}</a>
    </p>

    <ul id="external_parties">
      <li>Atualizações: Para se manter atualizado, o Sistema Operativo do Firefox conecta-se automaticamente a um serviço operado por ou em nome do fabricante do aparelho. O Sistema Operativo do Firefox também verifica automaticamente se há atualizações para os aplicativos instalados através do envio de uma solicitação para o Firefox Marketplace ou, o aplicativo que você instalou a partir de outro local, que não os serviços do desenvolvedor do aplicativo.</li>
      <li>Localização: Quando você liga os serviços de localização, o Sistema Operativo do Firefox pode usar vários dados e entidades para calcular sua localização, incluindo GPS, AGPS e outros prestadores de serviços de geolocalização. Você pode desativar os serviços de localização nos “Settings” do aplicativo do Sistema Operativo do Firefox no seu aparelho.</li>
    </ul>

    <hr>

    <p>
      O aparelho que você está usando, como a maioria dos aparelhos móveis, é criado por várias partes. Este aviso abrange apenas a forma como o Mozilla trata as suas informações nas versões oficiais do Sistema Operativo do Firefox autorizadas pelo Mozilla.
      <a href="#top" data-panel-disclosure="true" data-panelid="#location_services" data-panel-open-text="{{ _('Learn More') }}" data-panel-close-text="{{ _('Show Less') }}">{{ _('Learn More') }}</a>
    </p>

    <ul id="location_services">
      <li>Se você usar aplicativos feitos por alguém que não seja o Mozilla, as políticas de privacidade desse terceiro aplicar-se-ão.</li>
      <li>A funcionalidade de pesquisa de aplicativos de adaptação do Sistema Operativo do Firefox é desenvolvido pela Everything.me e sua política de privacidade aplica-se, a qual você poderá encontrar em <a href="http://corp.everything.me/ffos-privacy/">http://corp.everything.me/ffos-privacy/</a>.</li>
      <li>O Sistema Operativo do Firefox permite que você use vários serviços de terceiros integrados, como o seu e-mail ou suas redes sociais. A política de privacidade desses serviços aplicar-se-ão ao uso que você faça deles.</li>
    </ul>

  </div>
{% endl10n %}


{% l10n privacypolicy %}
  <h2>
    <a href="#top" data-panelid="#home" class="home">
      <span aria-hidden="true" data-icon="\2302"></span>
      <span class="visually_hidden">{{ _('Home') }}</span>
    </a>
    Política de Privacidade do Mozilla
  </h2>
  <p>Sua privacidade é um fator importante que o Mozilla (ou seja, nós) consideramos no desenvolvimento de todos os nossos produtos e serviços. Temos um compromisso com a transparência e abertura e gostaríamos que você soubesse como recebemos informações sobre você e o que fazemos com essas informações que recebemos.</p>
  <h3>O que queremos dizer com "informações pessoais"?</h3>
  <p>Para nós, "informações pessoais" significa as informações que identificam o usuário, como seu nome ou endereço de e-mail.</p>
  <p>Quaisquer outras informações não constituem "informações pessoais".</p>
  <p>Se suas informações pessoais forem armazenadas em conjunto com outras informações, iremos considerar a combinação como informações pessoais. Se excluirmos todas as informações pessoais de um conjunto de dados, então as informações remanescentes não constituem informações pessoais.</p>
  <h3>Como recebemos informações sobre você?</h3>
  <p>Recebemos informações sobre você quando:</p>
  <ul>
    <li>você fornece essas informações diretamente (por exemplo, quando você nos envia relatórios de erro a partir do Firefox);</li>
    <li>coletamos essas informações automaticamente através dos nossos produtos e serviços (por exemplo, quando você verifica se sua versão do Firefox está atualizada);</li>
    <li>terceiros nos fornecem informações sobre você (por exemplo, o Thunderbird trabalha em conjunto com as suas operadoras de e-mail para a constituição de sua conta); ou</li>
    <li>tentamos e apreendemos mais sobre você, considerando as informações que nos tenham sido fornecidas (por exemplo, quando usamos seu endereço de IP para a customização do idioma de alguns dos nossos serviços).</li>
  </ul>
  <h3>O que fazemos com as suas informações após o seu recebimento?</h3>
  <p>Quando você nos envia informações pessoais, utilizamos essas informações de acordo com as suas autorizações. Em geral, usamos suas informações para nos auxiliar a melhorar nossos produtos e serviços para você.</p>
  <h3>Quando compartilhamos suas informações com terceiros?</h3>
  <ul>
  <li>Se tivermos sua autorização para compartilhar essas informações.</li>
  <li>Para o processamento ou fornecimento de produtos e serviços a você, mas somente se as pessoas que venham a receber suas informações estiverem contratualmente obrigadas a manter os dados da forma aprovada pelo Mozilla.</li>
  <li>Ao atendermos nossa <a href="{{ url('mozorg.about.manifesto') }}">missão de transparência</a>. Algumas vezes, divulgamos informações para melhorar nossos produtos e fomentar a transparência na Internet, mas, nesse caso, iremos excluir suas informações pessoais e tentaremos divulgar as informações de forma a minimizar o risco de sua identificação.</li>
  <li>Se obrigatório por lei. Observamos as leis sempre que recebemos uma solicitação envolvendo nossos usuários, de uma autoridade governamental ou de natureza judicial. Iremos notificá-lo se formos solicitados a entregar suas informações pessoais, salvo se estivermos legalmente proibidos. Ao recebermos uma solicitação dessa natureza, somente serão divulgadas suas informações pessoais se entendermos, em boa-fé, que estamos obrigados por lei. Nenhuma disposição nesta política pretende limitar quaisquer defesas legais ou objeções que você possa ter em relação a um pedido de terceiros de divulgação de suas informações.</li>
  <li>Se entendermos que é necessário para impedir danos a você ou a terceiros. Somente serão compartilhadas suas informações se entendermos, em boa-fé, que isto é razoavelmente necessário para proteger os seus e nossos direitos, bens ou segurança ou aqueles de outros usuários, do Mozilla ou do público.</li>
  <li>Se nossa estrutura organizacional ou situação sofrer uma alteração (se sofrermos uma reestruturação, no caso de aquisição ou falência), podemos transmitir suas informações a um sucessor ou coligada.</li>
  </ul>
  <h3>Como armazenamos e protegemos suas informações pessoais?</h3>
  <p>Temos um compromisso com a proteção de suas informações pessoais assim que as recebemos. Implementamos medidas de segurança físicas, comerciais e técnicas. Apesar de nossos esforços, se tivermos ciência de uma violação de segurança, iremos notificar nossos usuários, para que possam ser tomadas as medidas cautelares cabíveis.</p>
  <p>Também não queremos suas informações pessoais por um prazo mais longo do que o necessário. Dessa forma, somente mantemos suas informações pelo prazo suficiente. Quando essas informações não forem mais necessárias, providenciaremos sua destruição, salvo se estivermos obrigados por lei a mantê-las por um prazo mais longo.</p>
  <h3>O que mais gostaríamos que você soubesse?</h3>
  <p>Somos uma organização com presença global e nossos computadores se encontram em diversos locais ao redor do mundo. Também utilizamos operadoras, cujos computadores também poderão estar localizados em diversos países. Isso significa que suas informações poderão ser armazenadas em um desses computadores em outro país, e esse país poderá possuir uma regulamentação de proteção de dados distinta daquela do seu país. Ao prestar suas informações, você concorda com a transferência de suas informações. Independentemente do país em que suas informações estejam, iremos cumprir a legislação aplicável e também observar os compromissos assumidos nesta política de privacidade.</p>
  <p>Se você for menor de 13 anos, não estamos interessados em suas informações pessoais e essas não devem ser fornecidas. Se, como pai, você entender que seu filho, menor de 13 anos, tiver fornecido alguma informação pessoal, por favor <a href="#top" data-panelid="#contact">entre em contato</a> para que as informações de seu filho sejam excluídas.</p>
  <h3>E se esta política for alterada?</h3>
  <p>Pode vir a ser necessária uma alteração a esta política. Nesse caso, iremos notificar nossos usuários.</p>

{% endl10n%}
