  <div class="billboard">
    <h3>Erfahren Sie mehr über die lokale Mozilla-Community</h3>
    <div class="column">
      <h4>Machen Sie mit</h4>
      <ul class="unstyled">
        <li><a href="https://developer.mozilla.org/de/docs/Project:How_to_Help">Entwickler-Dokumentation verbessern &amp; übersetzen</a></li>  
        <li><a href="http://support.mozilla.org/de/kb/wissensdatenbank-verbessern">Benutzer-Dokumentation verbessern &amp; übersetzen</a></li>
        <li><a href="https://events.webmaker.org/">WebMaker-Veranstaltungen: Personen beibringen, Webinhalte zu erstellen</a></li>  
        <li><a href="https://developer.mozilla.org/en-US/docs/Mozilla/Localization/Quick_start_guide">Übersetzung von Anwendungen</a></li>  
      </ul>
    </div>
    <div class="column">
      <h4>Werden Sie Teil der Gemeinschaft</h4>
      <ul class="unstyled">
        <li><a href="http://www.mozilla.de/">www.mozilla.de</a></li>  
        <li><a href="http://www.mibbit.com/?server=irc.mozilla.org&channel=%23mozilla.de">IRC-Chat: #mozilla.de</a></li>
        <li><a href="https://lists.mozilla.org/listinfo/community-german">Mailing-Liste</a></li>  
        <li><a href="https://twitter.com/mozilla_deutsch">@mozilla_deutsch</a></li>
        <li><a href="https://www.facebook.com/mozilla.de">Facebook</a></li>
      </ul>
    </div>
    <div class="column">
      <h4>Aktuelle Veranstaltungen</h4>
      <ul class="unstyled">
        <li>
          <div><a href="https://cfp.linuxwochen.at/de/LWW14/public/events/163">Firefox OS: Überblick (Linuxwochen), Wien</a></div>
          <div>09.05.2014 13:00&nbsp;Uhr</div>
        </li>  
        <li>&nbsp;<!-- only text for us --></li>
        <li>
          <div><a href="https://reps.mozilla.org/e/firefox-os-app-day-zurich-2014/">Firefox OS App Day, Zürich</a></div>
          <div>14.06.2014 09:00-19:00&nbsp;Uhr</div>
        </li>  
      </ul>
    </div>
  </div>
