{# Version: 20130930 #}

{% extends "mozorg/home-b1.html" %}

{% l10n home_news %}
  <li class="hentry">
    <h3 class="entry-title">
      <a class="url go" rel="bookmark external" hreflang="pl" href="https://blog.mozilla.org/press-pl/2013/08/07/nowy-firefox-dla-systemu-android-jest-szybszy-i-prostszy-w-uzyciu/">
        Nowy Firefox dla systemu Android jest szybszy i prostszy w użyciu
      </a>
    </h3>
  </li>

  <li class="hentry">
    <h3 class="entry-title">
      <a class="url go" rel="bookmark external" hreflang="pl" href="https://blog.mozilla.org/press-pl/2013/08/06/firefox-umozliwia-latwe-dzielenie-tresci-z-przyjaciolmi-i-rodzina/">
        Firefox umożliwia łatwe dzielenie treści z przyjaciółmi i rodziną
      </a>
    </h3>
  </li>

  <li class="hentry">
    <h3 class="entry-title">
      <a class="url go" rel="bookmark external" hreflang="pl" href="https://blog.mozilla.org/press-pl/2013/07/11/deutsche-telekom-oglasza-europejska-premiere-smartfonow-z-firefox-os/">
        Deutsche Telekom ogłasza europejską premierę smartfonów z Firefox OS
      </a>
    </h3>
  </li>
{% endl10n %}
