{# Version: 20140223 #}

{% extends "mozorg/home.html" %}

{% l10n home_news %}
<li class="hentry">
  <h3 class="entry-title">
    <a class="url go" rel="bookmark external" hreflang="pl" href="https://blog.mozilla.org/press-pl/2014/02/23/nowy-sprzet-i-narzedzia-deweloperskie-ukazuja-potencjal-srodowiska-firefox-os/">
       Nowy sprzęt i narzędzia deweloperskie ukazują potencjał środowiska Firefox OS
    </a>
  </h3>
</li>

<li class="hentry">
  <h3 class="entry-title">
    <a class="url go" rel="bookmark external" hreflang="pl" href="https://blog.mozilla.org/press-pl/2014/02/23/firefox-os-wchodzi-na-telefony-o-wyzszych-parametrach-i-rozszerza-granice-dolnej-polki-cenowej-smartfonow/">
       Firefox OS wchodzi na telefony o wyższych parametrach i rozszerza granice dolnej półki cenowej smartfonów
    </a>
  </h3>
</li>

<li class="hentry">
  <h3 class="entry-title">
    <a class="url go" rel="bookmark external" hreflang="pl" href="https://blog.mozilla.org/press-pl/2014/02/23/firefox-os-uwalnia-przyszlosc-technologii-mobilnej">
       Firefox OS uwalnia przyszłość technologii mobilnej
    </a>
  </h3>
</li>

<li class="hentry">
  <h3 class="entry-title">
    <a class="url go" rel="bookmark external" hreflang="pl" href="https://blog.mozilla.org/press-pl/2013/11/21/stan-mozilli-i-raport-finansowy-za-rok-2012/">
      Stan Mozilli i raport finansowy za rok 2012
    </a>
  </h3>
</li>

{% endl10n %}

