{# Version: 20131010 #}

{% extends "mozorg/home.html" %}

{% l10n home_news %}
  <li class="hentry">
    <h3 class="entry-title">
      <a class="url go" rel="bookmark external" hreflang="pl" href="https://blog.mozilla.org/press-pl/2013/11/21/stan-mozilli-i-raport-finansowy-za-rok-2012/">
        Stan Mozilli i raport finansowy za rok 2012
      </a>
    </h3>
  </li>

  <li class="hentry">
    <h3 class="entry-title">
      <a class="url go" rel="bookmark external" hreflang="pl" href="https://blog.mozilla.org/press-pl/2013/10/09/mozilla-wraz-z-partnerami-wprowadza-firefox-os-na-kolejne-rynki/">
        Mozilla wraz z partnerami wprowadza Firefox OS na kolejne rynki
      </a>
    </h3>
  </li>

  <li class="hentry">
    <h3 class="entry-title">
      <a class="url go" rel="bookmark external" hreflang="pl" href="https://blog.mozilla.org/press-pl/2013/08/07/nowy-firefox-dla-systemu-android-jest-szybszy-i-prostszy-w-uzyciu/">
        Nowy Firefox dla systemu Android jest szybszy i prostszy w użyciu
      </a>
    </h3>
  </li>
{% endl10n %}
